@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    outline: none;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    color: white;
    background-color: #000000;
}

.navbar {
    width: 100%;
    height: 8rem;
    background-color: rgba($color: #000000, $alpha: 0.6);
    position: fixed;
    top: 0;
    z-index: 10;
    overflow: hidden;
    transition: all 0.6s;
    animation: animateNavbar 1s 0.5s forwards;
}

@keyframes animateNavbar {
    0% {
        top: -8rem;
    }

    100% {
        top: 0;
    }
}


.navbar.change {
    height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.9);
}

.logo {
    position: absolute;
    top: 2rem;
    left: 4rem;
}

.logo a {
    font-size: 2.5rem;
}

.logo a img {
    height: 4rem;
}

.nav-list {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s;
}

.change .nav-list {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s 0.5s;
}

.nav-link {
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: white;
    font-weight: bold;
    margin: 2rem;
    transition: color 0.6s;
}

.nav-link:hover {
    color: #ff6a00;
}

.menu {
    width: 4rem;
    height: 4rem;
    position: fixed;
    z-index: 20;
    top: 2rem;
    right: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: #eee;
    transition: transform 0.3s;
}

.line-1 {
    width: 50%;
}

.change .line-1 {
    transform: translate(100%, 1rem) rotate(-35deg);
    transform-origin: right;
}

.line-3 {
    width: 50%;
    margin-left: auto;
}

.change .line-3 {
    transform: translateY(-1rem) rotate(35deg);
    transform-origin: right;
}

.section-1 {
    width: 100%;
    height: 100vh;
    background: url(../img/thom-holmes-RqASow2Y6Os-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.banner {
    width: 100%;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.banner-heading {
    margin-bottom: 4rem;
    height: 20rem;
    perspective: 50rem;
    overflow: hidden;
}

.banner-heading span {
    font-size: 12rem;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 0.3rem 0.3rem 0.6rem rgba($color: #000000, $alpha: 0.7);
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
}

.heading-1 {
    animation: animateHeading 12s 3s infinite;
}

.heading-2 {
    animation: animateHeading 12s 6s infinite;
}

.heading-3 {
    animation: animateHeading 12s 9s infinite;
}

.heading-4 {
    animation: animateHeading 12s 12s infinite;
}

@keyframes animateHeading {
    0% {
        transform: translateZ(8rem);
        opacity: 0;
        letter-spacing: 3rem;
    }

    3% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    25% {
        transform: translateZ(0);
        opacity: 1;
        letter-spacing: 1.5rem;
    }

    28% {
        transform: translateZ(8);
        opacity: 0;
        letter-spacing: 3rem;
    }

    100% {
        transform: translateZ(8);
        opacity: 0;
        letter-spacing: 3rem;
    }
}


.banner-paragraph {
    font-size: 3rem;
    font-weight: 400;
    // text-transform: uppercase;
    color: #fff;
    // background-color: rgba($color: #000000, $alpha: 0.6);
    width: 35%;
    margin: 0 auto 4rem;
    padding: 1rem 1rem;
    // box-shadow: 1rem 1rem 5rem rgba($color: #000000, $alpha: 0.5);
    text-shadow: 0.3rem 0.3rem 0.6rem rgba($color: #000000, $alpha: 0.7);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 2s forwards;
}

.banner-btn {
    width: 30rem;
    height: 6rem;
    margin-top: 5rem;
    background: linear-gradient(to right, #ff6a00, #ee7118);
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    border: 0.1rem solid #414141;
    cursor: pointer;
    // box-shadow: 1rem 2rem 3rem rgba($color: #000000, $alpha: 0.5);
    // text-shadow: 0.6rem 0.3rem 0.2rem rgba($color: #ffffff, $alpha: 0.4);
    opacity: 0;
    visibility: hidden;
    animation: fadeAnimation 1s 1.5s forwards;
    position: relative;
    overflow: hidden;
}

.banner-btn::before {
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, transparent, #fff, transparent);
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(-30deg);
    transition: left 0.5s;
}

.banner-btn:hover::before {
    left: 100%;
}

@keyframes fadeAnimation {
    0% {
        opacity: 0;
        visibility: hidden;
    }

    100% {
        opacity: 1;
        visibility: visible;
    }
}


.section-2 {
    width: 100%;
    height: 100vh;
    background: url("../img/nasim-keshmiri-t-afILNf3Zg-unsplash.jpg");
    background-position: 20% 60%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: #ddd;
    position: relative;
}

.section-2-bg {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    background-color: rgba($color: #000000, $alpha: 0.5);
}

// .section-2::after {
//     content: "";
//     height: 100%;
//     width: 100%;
//     background: linear-gradient(to bottom, rgba($color: #000000, $alpha: 1), rgba($color: #000000, $alpha: 0));
// }

.section-2-part-1 {
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-2-part-2 {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-weight: 900;
    font-size: 5rem;
    color: #ddd;
    margin-right: 4rem;
    text-shadow: .3rem .3rem 0.6rem #000000;

    // width: 40%;
    span {
        color: #f2761e;
    }
}

// .section-heading-line {
//     width: 15rem;
//     height: 0.2rem;
//     background-color: #ddd;
// }


.video-wrapper {
    width: 80%;
    border: 3px solid #000000;
    max-width: 900px;
}


.controls {
    width: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
    overflow: hidden;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-bar-wrapper {
    width: 100%;
    height: 0.5rem;
    background-color: #000000;
}

.video-bar {
    height: 100%;
    width: 0%;
    background-color: #ee7118;
    transition: width 0.3s linear;
}

.buttons {
    padding: 1rem 1rem 1rem 1rem;
}

.buttons button {
    background: none;
    border: none;
    cursor: pointer;
}

.buttons i {
    font-size: 3rem;
    color: white;
}

.section-2-paragraph {
    width: 85%;
    bottom: 8rem;
    right: 5rem;
    font-size: 2rem;
    color: #ddd;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
}

.fa-quote-left {
    align-self: flex-start;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.fa-quote-right {
    align-self: flex-end;
    font-size: 5rem;
    margin-bottom: 2rem;
}

.section-3 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.pricing-cards-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 5rem;
}

.pricing-card {
    width: 28rem !important;
    height: 45rem !important;
    background-color: #181b1d;
    border-radius: 1rem;
}

.pricing-card-front {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.pricing-card-heading {
    font-size: 2rem;
    font-weight: 300;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}

.heading-free {
    background: linear-gradient(to right, #005D98, #63a0bb);
    border-radius: 1rem 1rem 0 0;
}

.heading-basic {
    background: linear-gradient(to right, #bd5a3f, #FFCC4B);
    border-radius: 1rem 1rem 0 0;
}

.heading-standard {
    background: linear-gradient(to right, #5c6dd8, #e452ce);
    border-radius: 1rem 1rem 0 0;
}

.heading-premium {
    background: linear-gradient(to right, #FA0874, #FFC446);
    border-radius: 1rem 1rem 0 0;
}

.pricing-card-price {
    font-size: 7rem;
}

.pricing-card-list li {
    margin-bottom: 0.5rem;
}

.list-free li {
    color: #0472b6;
}

.list-basic li {
    color: #d45c3b;
}

.list-standard li {
    color: #e452ce;
}

.list-premium li {
    color: #FA0874;
}

.pricing-card-list i {
    font-size: 1.8rem;
    width: 3rem;
}

.pricing-card-list span {
    font-size: 1.8rem;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

.pricing-card-btn {
    width: 18rem;
    height: 5rem;
    margin-bottom: 3rem;
    border-radius: 3rem;
    border: none;
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
}

.btn-free {
    background-color: #0472b6;
}

.btn-basic {
    background-color: #d45c3b;
}

.btn-standard {
    background-color: #e452ce;
}

.btn-premium {
    background-color: #FA0874;
}

// .pricing-card-back {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     transform: rotateY(180deg);
//     border-radius: 1rem;
// }


.back-free {
    background: linear-gradient(to right, #005D98, #63a0bb);
}

.back-basic {
    background: linear-gradient(to right, #bd5a3f, #FFCC4B);
}

.back-standard {
    background: linear-gradient(to right, #5c6dd8, #e452ce);
}

.back-premium {
    background: linear-gradient(to right, #FA0874, #FFC446);
}

.pricing-card-back a {
    font-size: 2.5rem;
    color: white;
}