@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  text-decoration: none;
  list-style-type: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  color: white;
  background-color: #000000;
}

.navbar {
  width: 100%;
  height: 8rem;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 10;
  overflow: hidden;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-animation: animateNavbar 1s 0.5s forwards;
          animation: animateNavbar 1s 0.5s forwards;
}

@-webkit-keyframes animateNavbar {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

@keyframes animateNavbar {
  0% {
    top: -8rem;
  }
  100% {
    top: 0;
  }
}

.navbar.change {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
}

.logo {
  position: absolute;
  top: 2rem;
  left: 4rem;
}

.logo a {
  font-size: 2.5rem;
}

.logo a img {
  height: 4rem;
}

.nav-list {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.change .nav-list {
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.7s 0.5s;
  transition: all 0.7s 0.5s;
}

.nav-link {
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: white;
  font-weight: bold;
  margin: 2rem;
  -webkit-transition: color 0.6s;
  transition: color 0.6s;
}

.nav-link:hover {
  color: #ff6a00;
}

.menu {
  width: 4rem;
  height: 4rem;
  position: fixed;
  z-index: 20;
  top: 2rem;
  right: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  cursor: pointer;
}

.line {
  width: 100%;
  height: 0.2rem;
  background-color: #eee;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.line-1 {
  width: 50%;
}

.change .line-1 {
  -webkit-transform: translate(100%, 1rem) rotate(-35deg);
          transform: translate(100%, 1rem) rotate(-35deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.line-3 {
  width: 50%;
  margin-left: auto;
}

.change .line-3 {
  -webkit-transform: translateY(-1rem) rotate(35deg);
          transform: translateY(-1rem) rotate(35deg);
  -webkit-transform-origin: right;
          transform-origin: right;
}

.section-1 {
  width: 100%;
  height: 100vh;
  background: url(../img/thom-holmes-RqASow2Y6Os-unsplash.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.banner {
  width: 100%;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.banner-heading {
  margin-bottom: 4rem;
  height: 20rem;
  -webkit-perspective: 50rem;
          perspective: 50rem;
  overflow: hidden;
}

.banner-heading span {
  font-size: 12rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateZ(8rem);
          transform: translateZ(8rem);
  opacity: 0;
  letter-spacing: 3rem;
}

.heading-1 {
  -webkit-animation: animateHeading 12s 3s infinite;
          animation: animateHeading 12s 3s infinite;
}

.heading-2 {
  -webkit-animation: animateHeading 12s 6s infinite;
          animation: animateHeading 12s 6s infinite;
}

.heading-3 {
  -webkit-animation: animateHeading 12s 9s infinite;
          animation: animateHeading 12s 9s infinite;
}

.heading-4 {
  -webkit-animation: animateHeading 12s 12s infinite;
          animation: animateHeading 12s 12s infinite;
}

@-webkit-keyframes animateHeading {
  0% {
    -webkit-transform: translateZ(8rem);
            transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  3% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  25% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  28% {
    -webkit-transform: translateZ(8);
            transform: translateZ(8);
    opacity: 0;
    letter-spacing: 3rem;
  }
  100% {
    -webkit-transform: translateZ(8);
            transform: translateZ(8);
    opacity: 0;
    letter-spacing: 3rem;
  }
}

@keyframes animateHeading {
  0% {
    -webkit-transform: translateZ(8rem);
            transform: translateZ(8rem);
    opacity: 0;
    letter-spacing: 3rem;
  }
  3% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  25% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
    letter-spacing: 1.5rem;
  }
  28% {
    -webkit-transform: translateZ(8);
            transform: translateZ(8);
    opacity: 0;
    letter-spacing: 3rem;
  }
  100% {
    -webkit-transform: translateZ(8);
            transform: translateZ(8);
    opacity: 0;
    letter-spacing: 3rem;
  }
}

.banner-paragraph {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  width: 35%;
  margin: 0 auto 4rem;
  padding: 1rem 1rem;
  text-shadow: 0.3rem 0.3rem 0.6rem rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-animation: fadeAnimation 1s 2s forwards;
          animation: fadeAnimation 1s 2s forwards;
}

.banner-btn {
  width: 30rem;
  height: 6rem;
  margin-top: 5rem;
  background: -webkit-gradient(linear, left top, right top, from(#ff6a00), to(#ee7118));
  background: linear-gradient(to right, #ff6a00, #ee7118);
  color: white;
  font-weight: 900;
  font-size: 2rem;
  text-transform: uppercase;
  border-radius: 3rem;
  border: 0.1rem solid #414141;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  -webkit-animation: fadeAnimation 1s 1.5s forwards;
          animation: fadeAnimation 1s 1.5s forwards;
  position: relative;
  overflow: hidden;
}

.banner-btn::before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.banner-btn:hover::before {
  left: 100%;
}

@-webkit-keyframes fadeAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.section-2 {
  width: 100%;
  height: 100vh;
  background: url("../img/nasim-keshmiri-t-afILNf3Zg-unsplash.jpg");
  background-position: 20% 60%;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ddd;
  position: relative;
}

.section-2-bg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 2rem;
  background-color: rgba(0, 0, 0, 0.5);
}

.section-2-part-1 {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-2-part-2 {
  width: 65%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-heading {
  font-weight: 900;
  font-size: 5rem;
  color: #ddd;
  margin-right: 4rem;
  text-shadow: .3rem .3rem 0.6rem #000000;
}

.section-heading span {
  color: #f2761e;
}

.video-wrapper {
  width: 80%;
  border: 3px solid #000000;
  max-width: 900px;
}

.controls {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.video-bar-wrapper {
  width: 100%;
  height: 0.5rem;
  background-color: #000000;
}

.video-bar {
  height: 100%;
  width: 0%;
  background-color: #ee7118;
  -webkit-transition: width 0.3s linear;
  transition: width 0.3s linear;
}

.buttons {
  padding: 1rem 1rem 1rem 1rem;
}

.buttons button {
  background: none;
  border: none;
  cursor: pointer;
}

.buttons i {
  font-size: 3rem;
  color: white;
}

.section-2-paragraph {
  width: 85%;
  bottom: 8rem;
  right: 5rem;
  font-size: 2rem;
  color: #ddd;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
}

.fa-quote-left {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.fa-quote-right {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 5rem;
  margin-bottom: 2rem;
}

.section-3 {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../img/drew-coffman-jUOaONoXJQk-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.pricing-cards-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 5rem;
}

.pricing-card {
  width: 28rem;
  height: 45rem;
  background-color: #181b1d;
  border-radius: 1rem;
  margin: 1rem;
}

.pricing-card-front {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing-card-heading {
  font-size: 2rem;
  font-weight: 300;
  width: 100%;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}

.heading-free {
  background: -webkit-gradient(linear, left top, right top, from(#005D98), to(#63a0bb));
  background: linear-gradient(to right, #005D98, #63a0bb);
  border-radius: 1rem 1rem 0 0;
}

.heading-basic {
  background: -webkit-gradient(linear, left top, right top, from(#bd5a3f), to(#FFCC4B));
  background: linear-gradient(to right, #bd5a3f, #FFCC4B);
  border-radius: 1rem 1rem 0 0;
}

.heading-standard {
  background: -webkit-gradient(linear, left top, right top, from(#5c6dd8), to(#e452ce));
  background: linear-gradient(to right, #5c6dd8, #e452ce);
  border-radius: 1rem 1rem 0 0;
}

.heading-premium {
  background: -webkit-gradient(linear, left top, right top, from(#FA0874), to(#FFC446));
  background: linear-gradient(to right, #FA0874, #FFC446);
  border-radius: 1rem 1rem 0 0;
}

.pricing-card-price {
  font-size: 7rem;
}

.pricing-card-list li {
  margin-bottom: 0.5rem;
}

.list-free li {
  color: #0472b6;
}

.list-basic li {
  color: #d45c3b;
}

.list-standard li {
  color: #e452ce;
}

.list-premium li {
  color: #FA0874;
}

.pricing-card-list i {
  font-size: 1.8rem;
  width: 3rem;
}

.pricing-card-list span {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.pricing-card-btn {
  width: 18rem;
  height: 5rem;
  margin-bottom: 3rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.6rem;
  color: white;
  font-weight: 600;
}

.btn-free {
  background-color: #0472b6;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.btn-free::before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.btn-free:hover::before {
  left: 100%;
}

.btn-basic {
  background-color: #d45c3b;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.btn-basic::before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.btn-basic:hover::before {
  left: 100%;
}

.btn-standard {
  background-color: #e452ce;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.btn-standard::before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.btn-standard:hover::before {
  left: 100%;
}

.btn-premium {
  background-color: #FA0874;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.btn-premium::before {
  content: "";
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(#fff), to(transparent));
  background: linear-gradient(to right, transparent, #fff, transparent);
  position: absolute;
  top: 0;
  left: -100%;
  -webkit-transform: skewX(-30deg);
          transform: skewX(-30deg);
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

.btn-premium:hover::before {
  left: 100%;
}

.section-heading-section-3 {
  font-weight: 900;
  font-size: 8rem;
  color: #ddd;
  text-shadow: .3rem .3rem 0.6rem #000000;
}

.section-heading-section-3 span {
  color: #f2761e;
}

.section-4 {
  width: 100%;
  height: 100vh;
  background-color: #171718;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10rem;
}

.contact-wrapper {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8rem;
}

.contact-details div {
  width: 25rem;
  text-align: center;
  margin: 4rem;
}

.contact-details i {
  font-size: 5rem;
  color: #ff6a00;
}

.contact-details h3 {
  font-size: 2.5rem;
  margin: 2rem 0;
  color: #ccc;
}

.contact-details p {
  font-size: 1.6rem;
  color: #aaa;
}

.contact-wrapper h1 {
  font-size: 4rem;
  color: #ccc;
  text-transform: uppercase;
  margin-bottom: 3rem;
}

.contact-form {
  width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  padding: 1.5rem;
  background-color: #444;
  color: #eee;
  border: none;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}

.contact-form textarea {
  max-width: 100%;
  max-height: 15rem;
  min-height: 5.5rem;
}

.contact-form input[type="submit"] {
  background-color: #d16d26;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.contact-form input[type="submit"]:hover {
  background-color: #ff6a00;
}

.footer {
  width: 100%;
  height: 12rem;
  background-color: #202122;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10rem;
}

.footer-nav a {
  font-size: 2rem;
  color: #ccc;
  margin-right: 3rem;
  letter-spacing: 0.1rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer-nav a:hover {
  color: #862323;
}

.copyright {
  font-size: 2rem;
  color: #ddd;
}
/*# sourceMappingURL=style.css.map */